@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('./NotoSansKR-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 600;
	font-display: swap;
	src: url('./NotoSansKR-Regular.otf') format('opentype');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url('./NotoSansKR-Regular.woff') format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 800;
	font-display: swap;
	src: url('./NotoSansKR-Regular.woff2') format('woff2');
}
